#root {
  width: 100%;
  height: 100%;

}
.img-wrapper {
  overflow: hidden;
}


.text {
  opacity: 1;
  color: white;
}

.colorTexto {
  text-align: justify;
  text-justify: inter-word;
}

.colorTexto {
  color: #ab9d87;
}


.img-home{
    background-image: url("imgs/background-home.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.img-tools{
    /* background-image: url("imgs/background-tools.png");
    background-size: cover;
    background-attachment: fixed; */

}